.canvas_top {
    width: 70%;
    left: 50%;
    min-height: 120px;
    position: relative;
    transform: translate(-50%, 0%);
}

.search_section {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 4px;
}

.search_form input {
    float: right;
    height: 25px;
    width: 300px;
    margin-left: 4px;
    border-radius: 4px;
    border-color: #f79c15;
    border-style: solid;
    box-shadow: 2px 2px 5px #111;
}

.search_form input:focus {
    outline: none;
}

.search_form button {
    float: left;
    background-image: url("../images/search.png");
    background-color: rgba(0,0,0,0);
    background-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
}

.search_form button:hover {
    background-color: #f79c15;
    box-shadow: 2px 2px 5px #111;
}

.canvas_top img {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.canvas {
    min-height: 1000px;
    width: 70%;
    position: relative;
    background-color: #111;
    overflow-x: hidden;
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 90%;
}